burocrazia/
documentazione/
notes/
simulations/
datasets/ARCHI_social/
datasets/tvb_default/mat_files/
datasets/tvb_default/obj_files_generated/
datasets/tvb_default/stl_files_generated/
datasets/tvb_default/py_generated/
